<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vaporware"
        tools:targetApi="31">


        <service
            android:name=".MusicService"
            android:exported="false" />

        <activity
            android:name=".Ad3Activity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".PlayerActivity"
            android:exported="true" />
        <activity
            android:name=".P4Activity"
            android:exported="true" />
        <activity
            android:name=".P3Activity"
            android:exported="true" />
        <activity
            android:name=".P2Activity"
            android:exported="true" />
        <activity
            android:name=".P1Activity"
            android:exported="true" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="true" />
        <activity
            android:name=".FindActivity"
            android:exported="true" />
        <activity
            android:name=".LangActivity"
            android:exported="true" />
        <activity
            android:name=".ThemeActivity"
            android:exported="true" />
        <activity
            android:name=".LibraryActivity"
            android:exported="true" />
        <activity
            android:name=".AlbumActivity"
            android:exported="true" />
        <activity
            android:name=".ArtistActivity"
            android:exported="true" />
        <activity
            android:name=".SongActivity"
            android:exported="true" />
        <activity
            android:name=".PopularActivity"
            android:exported="true" />
        <activity
            android:name=".HelpActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".LogActivity"
            android:exported="true" />
        <activity
            android:name=".EditActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>